@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');


.hero {
   box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
   transition: transform 0.3s ease;
}

.hero:hover {
   transform: scale(1.01);
}

.hero-wave {
   position: absolute;
   z-index: -5;
}

.shadows-into-light-regular {
   font-family: "Shadows Into Light", cursive;
   font-weight: 400;
   font-style: normal;
 }

 .shop-call-to-action {
transition: ease .3s;
 }

 .shop-call-to-action:hover {
margin-left: 25px;
background-color: rgb(161, 102, 13);
color: white;
 }