@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
   /* margin: 0; */
   /* background-color: #333; */
   font-family: poppins;
}


.container {
   display: flex;
   flex-wrap: wrap;

}


/* 
.header-style {
   height: 100px;
   background-color: rgb(234, 234, 234);
   box-shadow: rgba(45, 45, 45, 0.2) 0px 10px 30px;
} */

.navParent {
   display: flex;
   text-decoration: none;
   list-style: none;
   gap: 22px;
   margin-left: 50px;
}

a {
   /* margin: 10px 0; */
   transition: transform 0.3s ease, color 0.3s ease; 
   text-decoration: none;
   color: rgb(149, 149, 149);
}

a:hover {
   transform: translateY(4px);
   cursor: pointer;
   color: rgb(0, 0, 0);
}

.listContainer {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px;
   /* max-width: 800px; */
   margin: 0 auto;
   padding: 20px;
   
}

.imgCol {
   display: flex;
   justify-content: center;
   /* align-items: center; */
   width: 650px;
}



.listCol {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.stay {
   position: fixed;
}
